<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Message</title>
	<link rel="stylesheet" type="text/css" href="./message.css" />

</head>

<body>
	<div id="message"></div>
	<div style="padding-top:50px;">
		<button id="btn_show">显示</button>
		<button id="btn_hide">隐藏</button>
		<button id="btn_replace">替换内容</button>
	</div>
	<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script type="text/javascript" src="../core/core.js"></script>
	<script type="text/javascript" src="./message.js"></script>
	<script>
        $(function(){
            var message = new window.hy.message({
                element: $("#message"),
				content:"测试显示啊啊啊"
            });
           console.log(message);

		   //显示
		   $("#btn_show").click(function(){
			   message.show("这是一条全局信息");
		   });
		   //隐藏
		   $("#btn_hide").click(function(){
			   message.hide();
		   });
		   //替换内容
		   $("#btn_replace").click(function(){
			   message.show("这是另一条全局信息");
		   })
        })
    </script>
</body>

</html>